﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href="/Content/img/EAO.png" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bulma.min.css">
    <link rel="stylesheet" href="~/Content/modal-fx.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">


    
    @*<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">*@
    @*<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:800" rel="stylesheet">*@
    <link rel="stylesheet" href="~/Content/x.css">
    <link rel="stylesheet" href="~/Content/fontawesome.css">


</head>
<body>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/vue.min.js"></script>


@*<div id="navbar">
    <ul>
        <li><a href="#"> Why me? </a></li>
        <li><a href="#"> Portfolio </a></li>
        <li><a href="#"> About </a></li>
    </ul>
</div>*@
<div id="vue-instance">
    @*<button id="nav-button">
        <span></span>
        <span></span>
        <span></span>
    </button>*@
    @RenderBody()

</div>
    
    <script src="~/Scripts/x.js"></script>


</body>
</html>
