﻿.head {
    display: block;
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

.sub-head {
    display: block;
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

/*.text-center {
    text-align: center;
}

.white {
    color: white;
}*/

/*@font-face {
    font-family: Dense;
    src: url(fonts)
}*/


body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    /*font-family: 'Nanum Gothic', sans-serif;*/
    /*letter-spacing: 0.5em;*/
}

#navbar {
    background-color: gray;
    opacity: 0.9;
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 1;
    display: none;
}

    #navbar ul {
        height: 100%;
        text-align: center;
        padding: 0;
        margin: 0 auto;
    }

    #navbar li {
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #navbar a {
        text-decoration: none;
        color: black;
    }

/*Hamburger menu*/

#nav-button {
    position: fixed;
    border: none;
    background-color: transparent;
    float: right;
    top: 20px;
    right: 20px;
    z-index: 10;
}

    #nav-button:focus {
        outline: none;
    }

    #nav-button span {
        display: block;
        width: 30px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: white;
        border-radius: 3px;
        z-index: 1;
        /*transform-origin: 4px 0px;
  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;*/
    }

.section-content-80 {
    margin-left: 100px;
    margin-right: 100px;
    height: 80%;
}

.section-content p {
    padding-bottom: 20px;
    text-align: justify;
}

.section-content .img {
    background-color: lemonchiffon;
    width: 100px;
    height: 100px;
    float: left;
}

.clear-fix {
    clear: both;
}

.primary {
    -moz-box-shadow: -2px 2px 1px 0px #8199db;
    -webkit-box-shadow: -2px 2px 1px 0px #8199db;
    box-shadow: -2px 2px 1px 0px #8199db;
    /*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ebaeb), color-stop(1, #647a94));
    background:-moz-linear-gradient(top, #9ebaeb 5%, #647a94 100%);
    background:-webkit-linear-gradient(top, #9ebaeb 5%, #647a94 100%);
    background:-o-linear-gradient(top, #9ebaeb 5%, #647a94 100%);
    background:-ms-linear-gradient(top, #9ebaeb 5%, #647a94 100%);*/
    background: linear-gradient(to bottom, #9ebaeb 5%, #647a94 100%);
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ebaeb', endColorstr='#647a94',GradientType=0);*/
    background-color: #9ebaeb;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 2px;
    border: 1px solid #647a94;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: -2px 2px 4px #283966;
}

.section-content {
    margin-left: 100px;
    margin-right: 100px;
}

.clickable {
    transition: transform .3s;
}

    .clickable:hover {
        cursor: pointer;
        -webkit-filter: grayscale(0);
        transition: transform .3s;
        transform: scale(1.04);
    }

.button-animation {
    transition: all .3s;
}

    .button-animation:hover {
        transition: transform .3s;
        transform: translateZ(0) scale(1.08);
    }

/*.button-animation span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}*/

/*.button-animation:hover span {
    padding-right: 25px;
}

.button-animation:hover span:after {
    opacity: 1;
    right: 0;
}*/

.grayscale {
    /*-webkit-filter: grayscale(1);*/
}

.description {
    bottom: 0;
}



.counter {
    height: 1rem;
    width: 10%;
    margin-right: 5px;
    /*width: 150px;
    height: 100px;*/
    background: #1abc9c;
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .level-item:not(:last-child).counter {
        margin-bottom: 0 !important;
    }
}

.is-parent-overlay {
    position: relative;
}

.is-child-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.section-margin {
    margin: 5%;
}

.sub-section-margin {
    margin: 2%;
    margin-bottom: 5%;
}

.auto-margin {
    margin: auto;
}

.remove-filter {
    filter: brightness(100%);
}

.has-bottom-border {
    border-bottom: solid 2px ghostwhite;
}

.has-mt4-color {
    color: #59021b;
}

.has-crm-color {
    color: #5b8d5a;
}

.has-nftb-color {
    color: #b2812c;
}

.has-thisproject-color {
    color: #3b2192;
}


.has-no-bottom-margin {
    margin-bottom: 0 !important;
}

.modal-content, .modal-card {
    width: 90%;
}

.tile i {
    margin-bottom: 1.5em;
}

.is-pulled-bottom {
    margin-bottom: auto;
}

/*.div.is-loading {
    position: relative;
    pointer-events: none;
    opacity: 0.5;
}*/

.is-loading::after {
    -webkit-animation: spinAround 500ms infinite linear;
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    position: relative;
    width: 1em;
    margin: auto;
}


.is-loading div {
    display: none !important;
}


/*Bulma Overrides*/
.section {
    padding: 0;
}

.is-vertical-center {
    display: flex;
    align-items: center;
}

.image.is-256x256 {
    height: 256px;
    width: 256px;
}

.is-div-centered {
    margin: auto;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #363636;
}

.image.is-100x100 {
    height: 100px;
    width: 100px;
}

.is-128x128 {
    height: 128px;
    width: 128px;
}

.is-100x00 {
    height: 100px;
    width: 100px;
}

.has-background-transparent {
    background-color: transparent !important;
}

.is-project .box {
    background-color: gray !important;
}

ul li {
    list-style-type: circle;
    padding-left: 1em;
}

#ProjectContent .box {
    background-color: #dbdbdb;
}

#ProjectContent .box.is-transparent {
    background-color: transparent;
}

html.modal-open, body.modal-open {
    overflow: hidden;
}

.one-third-vh {
    height: 32vh;
}