﻿.section-content {
    /*padding-top: 50px;*/
    /*height: 100%;*/
    margin-left: 100px;
    margin-right: 100px;
}




/*.timeline .timeline-item {
    padding: 1em;
}

.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-content {
    padding: 1em;
}

.timeline.is-centered .timeline-item .timeline-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 100%;
    padding: 1em;
}

.timeline.is-centered .timeline-item .timeline-content .image{
    float: left;
    margin-right: 1em;
}

.timeline.is-centered .timeline-item .timeline-content .image-container{
    min-width: 100%;
}

.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-content .image{
    float: right;
    margin-left: 1em;
    margin-right: 0;
}




.timeline-marker + .timeline-content {
    background-color: lightgray;
}

.timeline-marker.is-image + .timeline-content {
    background-color: transparent;
}
    */

/*.timeline .timeline-item .timeline-content {
    padding: 1.5em;
}*/

.timeline .timeline-item .timeline-content.is-128-high {
    height: 128px;
    width: 100%;
    padding: 1em 2em 0 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 100%;
    margin-left: 4em;
}

.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-content.is-128-high {
    height: 128px;
    width: 100%;
    padding: 1em 2em 0 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 100%;
    margin-right: 4em;
    margin-left: 0;
}

.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-content {
    padding: 1em;
    margin-right: 4em;
}

.timeline.is-centered .timeline-item .timeline-content {
    padding: 1em;
    margin-left: 4em;
}



/*.timeline .timeline-item .timeline-content .is-128x128 {
    background-color: black;
}*/