﻿<div class="hero">
    <div class="section-margin">
        <div class="columns">
            <div class="column">
                <div class="image is-128x128 auto-margin">
                    <img class="" src="~/Content/img/crm.png" />
                </div>
                <div class="has-text-centered">
                    <span class="tag">.NET MVC</span>
                    <span class="tag">Bootstrap</span>
                    <span class="tag">SQL</span>

                </div>
            </div>
            <div class="column auto-margin">
                <div class="section has-text-justified">
                    <p> This is the first web application project I was involved in. It was a way to transition from my non-dev to a dev-job.</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section-margin">
    <div class="box">
        <h3 class="title is-3 has-bottom-border">Problem</h3>
        <p> ITC, my previous employer had an internal CRM system written in Delphi as a desktop application. This was problematic due to compatibility issues with running the application on different platforms. </p>
    </div>

    <div class="box is-shadowless is-transparent has-text-centered">
        <i class="fas fa-arrow-alt-circle-down has-crm-color is-size-3"></i>
    </div>

    <div class="box">
        <h3 class="title is-3 has-bottom-border">Solution</h3>
        <p> Rewrite the application as a web application. We converted the database to an MSSQL database and went from there.</p>
    </div>

    <div class="box is-shadowless is-transparent has-text-centered">
        <i class="fas fa-arrow-alt-circle-down has-crm-color is-size-3"></i>
    </div>

    <div class="box">
        <h3 class="title is-3 has-bottom-border">What I learned</h3>
        <div class="content">
            <h6 class="title is-6">Digging deep with Xamarin.Forms </h6>
            <p>
                One of the biggest reason for creating this mobile app was to enhance my understanding further about Xamarin.Forms. I was in the middle of completing a Xamarin.Forms projects and I wanted to learn more about it to enhance my understanding.
                Building this app definitely served that purpose and I was able to
            </p>
        </div>

        <div class="content">
            <h6 class="title is-6">Getting my feet wet with .NET Web API from scratch</h6>
            <p>
                This was a really good way of getting myself more familiar on how .NET Web API works from scratch. It was good to see its functionality and potential in comparison to .NET MVC 5.
            </p>
        </div>

        <div class="content">
            <h6 class="title is-6">Scope creep is a real thing</h6>
            <p>
                The original purpose of this project was quite basic - find out who has paid for the casual sessions and calculate the total amount for permanent players at the end of the term.
                Realistically, I could have just created an Excel spreadsheet and it would have been done in a couple of hours. But where's the fun in that?
            </p>

            <p>
                I started thinking it would be nice to record the attendances so I implemented an attendance module. Then I started to think about how it would be cool to have the application automatically send out notifications to players. And then I got into thinking how it would be cool to integrate my other personal ideas into this app etc. etc. etc.
                I then realised that this is what they talk about when they say scope creep. Unfortunately, I didn't get to utilise my app since I stopped basketball altogether. I have every intention on finishing it.
            </p>

        </div>


    </div>

    <div class="has-text-centered">
        <a class="button">
            <span class="icon"><i class="fab fa-github"></i></span>
            <span>View on GitHub</span>
        </a>
    </div>
</div>

@*<div class="section-margin">
    <div class="tile is-ancestor">
        <div class="tile is-6 is-parent">
            <div class="tile is-child box">
                <p class="title">Overview</p>
                <p>  </p>
            </div>

        </div>
        <div class="tile  is-vertical is-parent">
            <div class="tile is-child box">
                <p class="title">Problem</p>
                <p> ITC, my previous employer had an internal CRM system written in Delphi as a desktop application. This was problematic due to compatibility issues with running the application on different platforms. </p>
            </div>
            <i class="fas fa-arrow-down has-text-centered"></i>
            <div class="tile is-child box">
                <p class="title">Solution</p>
                <p> Rewrite the application as a web application. We converted the database to an MSSQL database and went from there.</p>
            </div>
            <i class="fas fa-arrow-down has-text-centered"></i>
        </div>
    </div>
    <div class="box">
        <h3 class="title is-3 has-bottom-border">What I learned</h3>
        <div class="content">
            <h6 class="title is-6"> Nice introduction to C# .NET MVC </h6>
            <p>
                This was a good introduction to the .NET stack. My friend showed me the ropes and I think this has helped me transition into my first developer job.
            </p>
        </div>

        <div class="content">
            <h6 class="title is-6"> Change should be managed </h6>
            <p>
                No matter how cool or modern looking your application is, people tend to choose what they are used to over a new, fresh look. With the old desktop application written years prior, the application looked a little outdated. 
                Using Bootstrap in this project, we initially tried to make the UI a bit more modern by using different layouts. When we presented this, we were advised to make the layout as similar to the old application as possible.
            </p>
            <p>
                There is definitely nothing wrong with this, at the end of the day, the customer is always right. It was a good reminder that change should always be managed to ensure that the client both gets what they want as well as directing them to new and fresh ideas.
            </p>

        </div>
    </div>
</div>*@


@*<div>
        <div class="hero has-nftb-color is-small is-bold">
            <div class="hero-body section-margin">
                <h4 class="">CRM</h4>
            </div>
        </div>

        <div class="section-margin">
            <div class="columns sub-section-margin">
                <div class="column is-2">
                    <h6 class="subtitle is-6 is-italic">1 - the problem</h6>
                </div>
                <div class="column is-10">
                    <p>
                        The company I worked for had an internal CRM system written in Delphi as a desktpp application and was backed by an MSAccess database. This eventually became problematic because of compatibility issues with running the application on different Windows desktop platforms.
                    </p>
                </div>
            </div>

            <div class="columns sub-section-margin">
                <div class="column is-2">
                    <h6 class="subtitle is-6 is-italic">2 - the solution</h6>
                </div>
                <div class="column is-10">
                    <p>
                        Rewrite the front end application to a web application. We converted the database to an MSSQL database and went from there.
                    </p>
                </div>
            </div>

            <div class="columns sub-section-margin">
                <div class="column is-2">
                    <h6 class="subtitle is-6 is-italic">Screenshots</h6>

                </div>
                <div class="column is-10">
                    <div class="columns">
                        <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                        <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                    </div>
                    <div class="columns">
                        <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                        <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div>
        <div class="hero is-info is-small is-bold">
            <div class="hero-body section-margin">
                <h4 class="">CRM</h4>
            </div>
        </div>

        <div class="section-margin">
            <div class="columns sub-section-margin">
                <div class="column is-2">
                    <h6 class="subtitle is-6 is-italic">1 - the problem</h6>
                </div>
                <div class="column is-10">
                    <p>
                        The company I worked for had an internal CRM system written in Delphi as a desktpp application and was backed by an MSAccess database. This eventually became problematic because of compatibility issues with running the application on different Windows desktop platforms.
                    </p>
                </div>
            </div>

            <div class="columns sub-section-margin">
                <div class="column is-2">
                    <h6 class="subtitle is-6 is-italic">2 - the solution</h6>
                </div>
                <div class="column is-10">
                    <p>
                        Rewrite the front end application to a web application. We converted the database to an MSSQL database and went from there.
                    </p>
                </div>
            </div>

            <div class="columns sub-section-margin">
                <div class="column is-2">
                    <h6 class="subtitle is-6 is-italic">Screenshots</h6>

                </div>
                <div class="column is-10">
                    <div class="columns">
                        <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                        <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                    </div>
                    <div class="columns">
                        <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                        <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                    </div>

                </div>
            </div>

        </div>
    </div>*@







