﻿<script type="text/javascript">
    var model = @Html.Raw(Json.Encode(Model));
    console.log("MOdel", model);   
</script>

<link rel="stylesheet" href="~/Content/xprojects.css">



<div class="section-margin">
    <h1 class="title is-1 has-bottom-border">Projects</h1>
    
    <div class="tile is-ancestor">
        <div class="tile is-4 is-parent">
            <div id="MT4" class="tile is-child box clickable grayscale" v-on:click="MT4">
                <div class="image is-128x128 level-left is-div-centered level-item">
                    <img class="" src="~/Content/img/soonsoon.png" />
                </div>
                <div></div>
            </div>

        </div>

        <div class="tile is-4 is-parent">
            <div id="NFTB" class="tile is-child box clickable grayscale" v-on:click.stop="NFTB">
                <div class="image is-128x128 is-div-centered level-item">
                    <img class="" src="~/Content/img/nftb.png" />
                </div>
                <div>
                    <p>

                    </p>
                </div>
            </div>

        </div>

        <div class="tile is-4 is-parent">
            <div id="CRM" class="tile is-child box clickable grayscale"  v-on:click.stop="CRM">
                <div class="image is-128x128 is-div-centered level-item">
                    <img class="" src="~/Content/img/crm.png" />
                </div>
                <div>
                    <p>

                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="content"></div>



@*<div>
    <div class="hero is-info is-small is-bold">
        <div class="hero-body section-margin">
            <h4 class="">CRM</h4>
        </div>
    </div>

    <div class="section-margin">
        <div class="columns sub-section-margin">
            <div class="column is-2">
                <h6 class="subtitle is-6 is-italic">1 - the problem</h6>
            </div>
            <div class="column is-10">
                <p>
                    The company I worked for had an internal CRM system written in Delphi as a desktpp application and was backed by an MSAccess database. This eventually became problematic because of compatibility issues with running the application on different Windows desktop platforms.
                </p>
            </div>
        </div>

        <div class="columns sub-section-margin">
            <div class="column is-2">
                <h6 class="subtitle is-6 is-italic">2 - the solution</h6>
            </div>
            <div class="column is-10">
                <p>
                    Rewrite the front end application to a web application. We converted the database to an MSSQL database and went from there.
                </p>
            </div>
        </div>

        <div class="columns sub-section-margin">
            <div class="column is-2">
                <h6 class="subtitle is-6 is-italic">Screenshots</h6>

            </div>
            <div class="column is-10">
                <div class="columns">
                    <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                    <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                </div>
                <div class="columns">
                    <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                    <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                </div>

            </div>
        </div>

    </div>
</div>

<div>
    <div class="hero is-info is-small is-bold">
        <div class="hero-body section-margin">
            <h4 class="">CRM</h4>
        </div>
    </div>

    <div class="section-margin">
        <div class="columns sub-section-margin">
            <div class="column is-2">
                <h6 class="subtitle is-6 is-italic">1 - the problem</h6>
            </div>
            <div class="column is-10">
                <p>
                    The company I worked for had an internal CRM system written in Delphi as a desktpp application and was backed by an MSAccess database. This eventually became problematic because of compatibility issues with running the application on different Windows desktop platforms.
                </p>
            </div>
        </div>

        <div class="columns sub-section-margin">
            <div class="column is-2">
                <h6 class="subtitle is-6 is-italic">2 - the solution</h6>
            </div>
            <div class="column is-10">
                <p>
                    Rewrite the front end application to a web application. We converted the database to an MSSQL database and went from there.
                </p>
            </div>
        </div>

        <div class="columns sub-section-margin">
            <div class="column is-2">
                <h6 class="subtitle is-6 is-italic">Screenshots</h6>

            </div>
            <div class="column is-10">
                <div class="columns">
                    <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                    <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                </div>
                <div class="columns">
                    <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                    <div class="screenshot-image column" v-backgroundimage="'crm2.png'"></div>
                </div>

            </div>
        </div>

    </div>
</div>*@







